* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --green: rgb(37, 211, 102);
    --black: rgb(62, 62, 62);
    --white: rgb(242, 242, 242);
    --green2: rgb(0, 178, 77);
}

.navbar {
    background: white;
    height: 45px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    z-index: 1000;
}

.whatsapp-logo {
    font-family: sans-serif;
    font-size: 17px;
    color: var(--green);
    margin-left: 10px;
}

.setting-bar {
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
} 

.camera {
    font-size: 17px;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.main {
    margin-bottom:55px;
}

.navbar-main {
    text-align: center;
}

.search {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 30px;
    background: rgb(242, 242, 242);
    border: none;
    border-radius: 30px;
    align-items: center;
    padding-left: 30px;
}

.search-logo {
    margin-top: 57.5px;
    margin-left: 10px;
    position: absolute;
    color: rgb(62, 62, 62);
}

input::placeholder {
    color: var(--black);
    font-size: 12px;
}

.navbar-mid {
    display: flex;
    margin: 18px 0 18px 0;
    gap: 8px;
    margin-left: 10px;
    font-size: 12px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.navbar-mid > div {
    display: flex;
    align-items: center;
    background: var(--white);
    height: 25px;
    padding: 10px;
    border-radius: 25px;
    color: var(--black);
    cursor: pointer;
}

.archive {
    display: flex;
    margin: 0 8px 18px 20px;
    font-size: 15px;
    cursor: pointer;
}

.archive > ion-icon {
    margin-right: 20px;
}

.archive-font {
    font-size: 12px;
}

.archive-info {
    font-size: 12px;
    margin-right: 8px;
    margin-left: auto;
}

.user {
    display: flex;
    margin: 0 8px 18px 13.5px;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
}

.user > ion-icon {
    margin-right: 7.5px;
    font-size: 35px;
}

.user-font {
    font-size: 12px;
    align-self: normal;
    margin-top: 4px;
}

.user-info {
    font-size: 12px;
    margin-right: 6px;
    margin-left: auto;
    align-self: normal;
    text-align: center;
    margin-top: 15px;
    background: var(--green2);
    border-radius: 30px;
    height: 14px;
    padding: 0 4px;
    color: #fff;
}

.contact {
    display: flex;
    z-index: 2000;
    position: fixed;
    bottom: 63px;
    right: 8px;
    align-items: center;
    justify-content: center;
    background: var(--green2);
    border-radius: 10px;
    width: 35px;
    height: 35px;
    color: #fff;
    cursor: pointer;
}

.footer {
    position: fixed;
    display: flex;
    width: 100%;
    height: 55px;
    background: #fff;
    bottom: 0;
    justify-content: space-between;
    padding: 10px 13px;
    border-top: 1px solid rgb(228, 228, 228);
}

.menu-item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-item > span {
    font-size: 12px;
    margin-top: 3px;
}